        <tr>

                  <span class="content"><%= feed_comments.content %></span>
                  <span class="timestamp">
                      Posted <%= time_ago_in_words(feed_comments.created_at) %> ago.
                  </span>
      </tr>